* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.main {
    flex-grow: 3;
    height: 100vh;
}

.sign-up {
    flex-grow: 1;
    background-color: rgb(220, 97, 73);
    border: 1px solid rgb(226, 168, 153);
    height: 100vh;
}

.logo-top-bar {
    height: 30px;
    padding: 10px;
    margin-left: 50px;
}

.title-top-bar image {
    height: 100%;
}